<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>{% block title %}{% endblock %} - XXX </title>
    {% endblock %}
  </head>
  <body>
    <div id="content">

    {% block content %}
      
    {% endblock %}</div>
    <div id="footer">
      {% block footer %}
     <p>&copy; Copyright 2017 by <a href="https://www.linkedin.com/in/gquixtan" target="_blank">Gabriela Quixtan</a>.</p>
      {% endblock %}
    </div>
  </body>
</html>