{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}


	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
	    <div class="alert">
	    <strong>{{ message }}</strong>
	    </div>
	    {% endfor %}
	  {% endif %}
	{% endwith %}
  


<h1>Giphted</h1>

<div class="row" id="index">

	<div class="col-sm">
		<form class="login"  action="/login">
		  <input type="submit" class="form-control" value="Sign in">
		  <br>
		</form>
	</div>
	

	<div class="col-sm">
		<form class="register" action="/register"> 
		    <input type="submit" class="form-control" value="Create your Giphted account">
		    <br><br>
		</form>
	</div>


</div>	
	





{% endblock %}