{% extends "base.html" %}
{% block title %}Login{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<h1>Sign in</h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert pink">
      <strong>{{ message }}</strong>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row" id="login">


  <form action="/login" method="POST">

    <div class="col-sm form-sign-in">
        <label for="fname">Username:</label>
        <input type="text"  class="form-control" name="username">
      
       
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" name="password">


      <div class="checkbox">
          <label><input type="checkbox" name="remember">Remember me</label>
      </div>
      <input  class="form-control" type="submit" value="Sign in">
      </div>

  </form>

  <h4><span>New to Giphted? </span></h4>
  

  <div class="col-sm register">
    <form action="/register" class="col-sm register">
  	 <input type="submit" class="form-control" value="Create your GiphMaid account">
    </form><br>
  </div>  

</div>


{% endblock %}