{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block head %}

{% endblock %}
{% block content %}
  <h1>My Profile</h1>
 <p>.</p>


 
<form action="">
 <!--    <input>
    <input> -->
    <label>SUBMIT YOUR NEXT TEXT</label><br><br>
    First Name:<br>
    <input type="text" name="firstname" value=""><br><br>
    Last Name:<br>
    <input type="text" name="lasttname" value=""><br><br>
    Keyword<br>
    <input type="text" name="keyword" value=""><br><br>
    Schedule Date<br>
    <input id="date" type="date"><br><br>

    <input type="submit" value="Submit">

</form>

{% endblock %}