{% extends "base.html" %}
{% block title %}Profile{% endblock %}

{% block content %}

{% if fname %}
<header class="navbar-top">
    <nav class="navbar navbar-header">
        <!-- <div class="navbar-header"> -->
            <ul class="nav navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/texts">Texts</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/logout">Log Out</a>
                </li>
            </ul>
          <!-- </div> -->
      </nav>
</header>      

{% endif %}           


{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
    <div class="alert">
    <strong>{{ message }}</strong>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="back">
<h1>Hi {{ fname }}, Welcome! </h1>
</div>


    

<div class="row out">
<!-- <div class="container-fluid">     -->
    

    <div class="left col-sm-6">

        <form action="/getkeyword">
            <h5 class="text"> SUBMIT YOUR TEXT USING A KEYWORD</h5>

            <label>Enter a KEYWORD: </label><br>
            <input type="text" class="keyword" name="keyword" placeholder="..." required><br><br>
            <!-- Message: <br>
            <input type="text" name="msg"><br><br> -->

            <label>Schedule Date: </label><br>
            <input id="date" type="date" name="date" required><br><br>
            <!-- <input id="date" type="datetime-local" name="date" value="2017-12-11" required><br><br> -->
            <label>Phone Number: </label><br>
            <input id="phone" name="phone" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required><br><br>
            <input type="submit" value="Submit">

        </form>
    </div>




    <div class="right col-sm-6">
    <h5 class="text"> SUBMIT YOUR TEXT WITH YOUR CHOICE OF GIPHY </h5>        

        <form action="/profile" id="form2">

            <label>Select a GIPHY: </label><br>
            <input type="text" class="keyword" name="search" id="query" placeholder="...">
            <!-- <input type="submit" value="Submit"> -->
            <button id='getGiphy'>Search</button><br><br>

            <fieldset id="giphy-field">
            </fieldset><br><br>

            <label>Schedule Date: </label><br>
            <input id="date2" type="date" required><br><br>
            <!-- <input id="date" type="datetime-local" name="date" value="2017-12-11" required><br><br> -->
            <label>Phone Number: </label><br>
            <input id="phone2" type="tel" pattern="[0-9]{3}[0-9]{3}[0-9]{4}" required><br><br>

            <input type="submit" id="send-url" value="Submit">


        </form>
    </div>    
</div>    


{% endblock %}