{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<h1>Register</h1>

<form action="/register" method="POST">

    First Name:
    <input type="text" name="firstname" value=""><br><br>
   
    Last Name:
    <input type="text" name="lasttname" value=""><br><br>

    Username:
    <input type="text" name="username"><br><br>

    Password:
    <input type="password" name="password"><br><br>

  <input type="submit"><br>

</form><br>

<form action="/login">
	<input type="submit" value="LogIn">
</form>

{% endblock %}