{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<h1>Create account</h1>
<div class="row" id="register">


    <form action="/register" method="POST">

        <div class="col-sm">
            <label for="fname">First Name:</label><br>
            <input type="text" class="form-control" name="firstname" value="">
       
       
            <label for="lname">Last Name:</label><br>
            <input type="text" class="form-control" name="lasttname" value="">
     

        
            <label for="username">Username:</label><br>
            <input type="text" class="form-control" name="username">
      
        
            <label for="pwd">Password:</label><br>
            <input type="password" class="form-control" name="password">


        <div class="checkbox">
          <label><input type="checkbox" name="remember"> Remember me</label>
        </div>

      <input class="btn btn-default form-control" type="submit" value="Create your Giphted account">
    </div>
    </form>


    <div class="col-sm">
        <form class="login" action="/login">
            <label>Already have an account?</label>
        	<input class="btn btn-default form-control" type="submit" value="Sign in">
        </form>
    </div>

 
</div>    

{% endblock %}