{% extends "base.html" %}
{% block title %}Texts{% endblock %}

{% block head %}

{% endblock %}

{% block content %}

<a href="/profile">Profile</a> <a href="/logout">Log out</a><br><br>

  <h1>Hey {{ fname }}! </h1><br>

    <h2>Your Text History:</h2><br>


    <table>
    	<tr>
		    <th> KEYWORD </th>
		    <th> URL </th>
		    <th> TO </th>
		    <th> DATE </th>
		    <th> SENT </th>
	  	</tr>
    {% for text in user_texts %}
		<tr>
		  	<td> {{ text.keyword }}</td>
		  	<td> {{ text.url }} </td>
		    <td> {{ text.phone }} </td>
		    <td> {{ text.send_out_date.strftime("%B %d, %Y") }} </td>
		    <td> {{ text.sent }} </td>
		</tr>
    {% endfor %}		
	</table><br><br>
   

{% endblock %}